/ Page Content
.container
  .row
    .col-lg-12.text-center
      %h1 CloudM UCM final project
      %p.lead
        Go to
        -#= link_to 'Posts', posts_path # TODO uncomment
  / /.row
/ /.container
